<mat-card>
  <h1>AGREGAR EQUIPO</h1>

  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <hr />
  <form [formGroup]="form" (submit)="onSaveTeam()" *ngIf="!isLoading">
    <!-- name -->
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" placeholder="Nombre" formControlName="name" />
      <mat-error *ngIf="form.get('name').invalid">
        *Campo obligatorio
      </mat-error>
    </mat-form-field>

    <!-- city -->
    <mat-form-field appearance="outline">
      <mat-label>Ciudad</mat-label>
      <mat-select placeholder="Ciudad" formControlName="city" required>
        <mat-option value="Tijuana">Tijuana</mat-option>
        <mat-option value="Ensenada">Ensenada</mat-option>
        <mat-option value="Mexicali">Mexicali</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('city')">*Campo obligatorio</mat-error>
    </mat-form-field>

    <!-- category -->
    <mat-form-field appearance="outline">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="category" required>
        <mat-option value="Abierta">Abierta</mat-option>
        <mat-option value="Mini">Mini</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category')">*Campo obligatorio</mat-error>
    </mat-form-field>

    <!-- mode -->
    <mat-form-field appearance="outline">
      <mat-label>Rama</mat-label>
      <mat-select formControlName="mode" required>
        <mat-option value="Femenil">Femenil</mat-option>
        <mat-option value="Varonil">Varonil</mat-option>
        <mat-option value="Mixta">Mixta</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('mode')">*Campo obligatorio</mat-error>
    </mat-form-field>

    <!-- coach -->
    <mat-form-field appearance="outline">
      <mat-label>Coach</mat-label>
      <input matInput type="text" placeholder="Coach" formControlName="coach" />
      <mat-error *ngIf="form.get('coach').invalid">
        Please enter coach
      </mat-error>
    </mat-form-field>

    <!-- teams -->
    <hr />
    <mat-card>
      <mat-card-subtitle>Selecciona jugadore(s)</mat-card-subtitle>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="75px">
          <mat-grid-tile *ngFor="let player of allPlayers">
            <mat-selection-list (selectionChange)="onSelectionChange(player)">
              <mat-list-option>
                {{ player.name }} {{ player.lastname }}
              </mat-list-option>
            </mat-selection-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
    >
      <img [src]="imagePreview" [alt]="form.value.name" />
    </div>

    <div class="clearfix">
      <button mat-raised-button color="accent">
        <span><a routerLink="/teams"> Cancelar</a></span>
      </button>
      <button mat-raised-button color="accent" class="right" type="submit">
        Guardar equipo
      </button>
    </div>
  </form>
</mat-card>
