<mat-toolbar color="primary">
  <!-- <mat-toolbar-row>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent"
          >Login</a
        >
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent"
          >Signup</a
        >
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar-row> -->

  <mat-toolbar-row>
    <span><a routerLink="/">TjFlag</a></span>
    <span class="spacer"></span>
    <ul>
      <li>
        <a mat-button routerLink="/players" routerLinkActive="mat-accent"
          >Jugadores</a
        >
      </li>
      <li>
        <a mat-button routerLink="/teams" routerLinkActive="mat-accent"
          >Equipos</a
        >
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
