<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ team.name.toUpperCase() }}</mat-card-title>
    <!-- <mat-card-subtitle>{{ team.category }}</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>
    <hr />

    <div>
      <h4>Informacion General</h4>
      <ul>
        <li>
          <mat-label>Ciudad: {{ team.city }}</mat-label>
        </li>
        <li>
          <mat-label>Categoria: {{ team.category }}</mat-label>
        </li>
        <li>
          <mat-label>Rama: {{ team.mode }}</mat-label>
        </li>
        <li>
          <mat-label>Coach: {{ team.coach }}</mat-label>
        </li>
      </ul>
    </div>

    <hr />

    <div>
      <h4>Jugadores</h4>
      <ul>
        <li *ngFor="let player of team?.players">
          <a
            mat-button
            color="primary"
            [routerLink]="['/players/detail', player.id]"
          >
            {{ player.name }} {{ player.lastname }}
          </a>
        </li>
      </ul>
    </div>

    <hr />

    <div>
      <h4>Proximos juegos</h4>
    </div>

    <hr />

    <div>
      <h4>Destacado</h4>
    </div>
  </mat-card-content>
</mat-card>
