:host {
  display: block;
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.player-image {
  widows: 100%;
}

.player-image img {
  width: 75%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.top-bottom-margin {
  margin: 20px 0;
}

.top-bottom-small-margin {
  margin: 5px 0;
}

.horizontal-left {
  text-align: left;
}

.clearfix {
  overflow: auto;
}

.right {
  float: right;
}
