<mat-spinner *ngIf="isLoading"></mat-spinner>
<span class="spacer"></span>

<div>
  <h1>JUGADORES</h1>
</div>

<mat-accordion multi="true" *ngIf="players.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let player of players">
    <mat-expansion-panel-header>
      # {{ player.number }} - {{ player.name }} {{ player.lastname }}
    </mat-expansion-panel-header>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile colspan="1">
        <div class="player-image">
          <img [src]="player.imagePath" [alt]="player.name" />
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <span>Fecha de nacimiento: {{ player.dateOfBirth }}</span>
        <span>Division: {{ player.division }}</span>
        <span>Equipos(s): Pendiente</span>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-action-row *ngIf="userIsAuthenticated && userId === player.creator">
      <a mat-button color="primary" [routerLink]="['/players/edit', player.id]"
        >EDIT</a
      >
      <button mat-button color="warn" (click)="onDelete(player.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalPlayers"
  [pageSize]="playersPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="players.length > 0"
>
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="players.length <= 0 && !isLoading">
  No players added yet
</p>
