<mat-spinner *ngIf="isLoading"></mat-spinner>
<span class="spacer"></span>

<div *ngIf="!isLoading">
  <div id="top" class="clearfix">
    <h1>CANCHAS</h1>
    <div
      class="right top-bottom-small-margin pointer"
      *ngIf="userIsAuthenticated"
    >
      <!-- <span><a routerLink="/courts/create"> + Agregar</a></span> -->
      <mat-icon routerLink="/courts/create">add_circle_outline</mat-icon>
    </div>
  </div>

  <div id="filters" *ngIf="courts?.length > 0" class="center">
    <h3>Filtrar por: {{ group.value }}</h3>
    <mat-button-toggle-group
      name="citiesButtonToggleGroup"
      aria-label="Ciudad"
      #group="matButtonToggleGroup"
    >
      <mat-button-toggle
        value="Cualquiera"
        (change)="onSelectionChange($event.value)"
        >Cualquiera</mat-button-toggle
      >
      <mat-button-toggle
        value="Tijuana"
        (change)="onSelectionChange($event.value)"
        >Tijuana</mat-button-toggle
      >
      <mat-button-toggle
        value="Ensenada"
        (change)="onSelectionChange($event.value)"
        >Ensenada</mat-button-toggle
      >
      <mat-button-toggle
        value="Mexicali"
        (change)="onSelectionChange($event.value)"
        >Mexicali</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <!-- <div id="filters" *ngIf="courts?.length > 0">
    <mat-accordion class="headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>sort</mat-icon>
            <label>Filtros</label>
          </mat-panel-title>
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="75px"> -->
  <!-- Ciudad -->
  <!-- <mat-grid-tile>
            <mat-form-field>
              <mat-select
                [(value)]="selectedCity"
                (selectionChange)="onSelectionChange()"
                placeholder="Ciudad"
              >
                <mat-option value="Cualquiera">Cualquiera</mat-option>
                <mat-option value="Tijuana">Tijuana</mat-option>
                <mat-option value="Ensenada">Ensenada</mat-option>
                <mat-option value="Mexicali">Mexicali</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-footer>
          <div class="clearfix top-bottom-small-margin">
            <button class="right" mat-button (click)="onResetFilters()">
              Resetear filtros
            </button>
          </div>
        </mat-card-footer>
      </mat-expansion-panel>
    </mat-accordion>
  </div> -->

  <mat-divider></mat-divider>

  <div id="courtList" *ngIf="courts.length > 0">
    <mat-card
      *ngFor="let court of filteredCourts"
      [routerLink]="['/courts/detail', court.id]"
    >
      <mat-card-header>
        <mat-card-title>{{ court.name }}</mat-card-title>
        <mat-card-subtitle>{{ court.city }}</mat-card-subtitle>
      </mat-card-header>
      <mat-action-row *ngIf="userIsAuthenticated && userId === court.creator">
        <a mat-button color="primary" [routerLink]="['/courts/edit', court.id]"
          >EDITAR</a
        >
        <button mat-button color="warn" (click)="onDelete(court.id)">
          BORRAR
        </button>
      </mat-action-row>
    </mat-card>
  </div>

  <div id="paginator">
    <mat-paginator
      [length]="totalCourts"
      [pageSize]="courtsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      *ngIf="courts.length > 0"
    >
    </mat-paginator>
  </div>

  <p class="info-text mat-body-1" *ngIf="courts.length <= 0 && !isLoading">
    No courts added yet
  </p>
</div>
