<mat-spinner *ngIf="isLoading"></mat-spinner>
<span class="spacer"></span>

<div *ngIf="!isLoading">
  <div id="top" class="clearfix">
    <h1>JUGADORES</h1>
    <div class="right top-bottom-small-margin" *ngIf="userIsAuthenticated">
      <span><a routerLink="/tournaments/create"> + Agregar</a></span>
    </div>
  </div>

  <div id="filters" *ngIf="tournaments.length > 0">
    <mat-accordion class="headers-align">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>sort</mat-icon>
            <label>Filtros</label>
          </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="3" rowHeight="75px">
          <!-- Sexo -->
          <mat-grid-tile>
            <mat-form-field>
              <mat-select
                [(value)]="selectedSex"
                (selectionChange)="onSelectionChange()"
                placeholder="Sexo"
              >
                <mat-option value="Cualquiera">Cualquiera</mat-option>
                <mat-option value="Hombre">Hombre</mat-option>
                <mat-option value="Mujer">Mujer</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <!-- Division -->
          <mat-grid-tile>
            <mat-form-field>
              <mat-select
                [(value)]="selectedDivision"
                (selectionChange)="onSelectionChange()"
                placeholder="Division"
              >
                <mat-option value="Cualquiera">Cualquiera</mat-option>
                <mat-option value="Gold">Gold</mat-option>
                <mat-option value="Top">Top</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-footer>
          <div class="clearfix top-bottom-small-margin">
            <button class="right" mat-button (click)="onResetFilters()">
              Resetear filtros
            </button>
          </div>
        </mat-card-footer>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-divider></mat-divider>

  <div id="tournamentList" *ngIf="tournaments.length > 0 && !isLoading">
    <mat-card *ngFor="let tournament of filteredPlayers">
      <mat-card-header>
        <div mat-card-avatar class="tournament-image">
          <img [src]="tournament.imagePath" [alt]="tournament.name" />
        </div>
        <mat-card-title>
          # {{ tournament.number }} - {{ tournament.name }}
          {{ tournament.lastname }}
        </mat-card-title>
        <mat-card-subtitle> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-grid-list cols="2" rowHeight="1.15em">
          <mat-grid-tile>
            <p>Fecha de nacimiento: {{ tournament.dateOfBirth | date }}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>Division: {{ tournament.division }}</p>
          </mat-grid-tile>
          <mat-grid-tile>
            <p>Equipos(s): Pendiente</p>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-action-row>
        <a
          mat-button
          color="primary"
          [routerLink]="['/tournaments/detail', tournament.id]"
          >VER MÁS</a
        >
        <a
          mat-button
          *ngIf="userIsAuthenticated && userId === tournament.creator"
          color="primary"
          [routerLink]="['/tournaments/edit', tournament.id]"
          >EDITAR</a
        >
        <button
          *ngIf="userIsAuthenticated && userId === tournament.creator"
          mat-button
          color="warn"
          (click)="onDelete(tournament.id)"
        >
          BORRAR
        </button>
      </mat-action-row>
    </mat-card>
  </div>

  <div id="paginator">
    <mat-paginator
      [length]="totalPlayers"
      [pageSize]="tournamentsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      *ngIf="tournaments.length > 0"
    >
    </mat-paginator>
  </div>

  <p class="info-text mat-body-1" *ngIf="tournaments.length <= 0 && !isLoading">
    No tournaments added yet
  </p>
</div>
