<mat-spinner *ngIf="isLoading"></mat-spinner>
<span class="spacer"></span>

<div>
  <div id="top" class="clearfix">
    <h1>EQUIPOS</h1>
    <div class="right top-bottom-small-margin" *ngIf="userIsAuthenticated">
      <span><a routerLink="/teams/create"> + Agregar</a></span>
    </div>
  </div>

  <div id="filters" *ngIf="teams.length > 0">
    <mat-card>
      <mat-card-subtitle>
        <p class="top-bottom-margin">Filtrando en base a:</p>
      </mat-card-subtitle>

      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="30px">
          <!-- Ciudad -->
          <mat-grid-tile>
            <mat-form-field>
              <mat-select
                [(value)]="selectedCity"
                (selectionChange)="onSelectionChange()"
                placeholder="Ciudad"
              >
                <mat-option value="Cualquiera">Cualquiera</mat-option>
                <mat-option value="Tijuana">Tijuana</mat-option>
                <mat-option value="Ensenada">Ensenada</mat-option>
                <mat-option value="Mexicali">Mexicali</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <!-- Rama -->
          <mat-grid-tile>
            <mat-form-field>
              <mat-select
                [(value)]="selectedMode"
                (selectionChange)="onSelectionChange()"
                placeholder="Rama"
              >
                <mat-option value="Cualquiera">Cualquiera</mat-option>
                <mat-option value="Mixta">Mixta</mat-option>
                <mat-option value="Femenil">Femenil</mat-option>
                <mat-option value="Varonil">Varonil</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <!-- Categoria -->
          <mat-grid-tile>
            <mat-form-field>
              <mat-select
                [(value)]="selectedCategory"
                (selectionChange)="onSelectionChange()"
                placeholder="Categoria"
              >
                <mat-option value="Cualquiera">Cualquiera</mat-option>
                <mat-option value="Abierta">Abierta</mat-option>
                <mat-option value="Mini">Mini</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>

      <mat-card-footer>
        <div class="clearfix top-bottom-small-margin">
          <button class="right" mat-button (click)="onResetFilters()">
            Resetear filtros
          </button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
  <hr />

  <div id="teamList">
    <mat-accordion multi="true" *ngIf="teams.length > 0 && !isLoading">
      <mat-expansion-panel *ngFor="let team of filteredTeams">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ team.name }}
          </mat-panel-title>
          <mat-panel-description>
            Categoria: {{ team.category }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-grid-list cols="4" rowHeight="2:1">
          <mat-grid-tile colspan="1">
            <div class="team-image">
              <img [src]="team.imagePath" [alt]="team.name" />
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <span>Ciudad: {{ team.city }}</span>
            <span>Rama: {{ team.mode }}</span>
            <span>Coach: {{ team.coach }}</span>
            <span>Jugadores: {{ team.players }}</span>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-action-row>
          <a
            mat-button
            color="primary"
            [routerLink]="['/teams/detail', team.id]"
            >VER MÁS</a
          >
          <a
            mat-button
            *ngIf="userIsAuthenticated && userId === team.creator"
            color="primary"
            [routerLink]="['/teams/edit', team.id]"
            >EDITAR</a
          >
          <button
            *ngIf="userIsAuthenticated && userId === team.creator"
            mat-button
            color="warn"
            (click)="onDelete(team.id)"
          >
            BORRAR
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div id="paginator">
    <mat-paginator
      [length]="totalTeams"
      [pageSize]="teamsPerPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onChangedPage($event)"
      *ngIf="teams.length > 0"
    >
    </mat-paginator>
  </div>

  <p class="info-text mat-body-1" *ngIf="teams.length <= 0 && !isLoading">
    No teams added yet
  </p>
</div>

<!-- <button mat-button (click)="onShowFilters()" *ngIf="!showFilters">
          Filtrar equipos
        </button> -->
<!-- <button mat-button (click)="onHideFilters()" *ngIf="showFilters">
          Ocultar filtros
        </button> -->
