:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

h1 {
  text-align: center;
}

.info-text {
  text-align: center;
}

.team-image {
  widows: 100%;
}

.team-image img {
  width: 100%;
}

.top-bottom-margin {
  margin: 20px 0;
}

.top-bottom-small-margin {
  margin: 5px 0;
}

.left-right-smarll-margin {
  margin: 0 10px;
}

.horizontal-left {
  text-align: left;
}

.clearfix {
  overflow: auto;
}

.right {
  float: right;
}
