<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ court.name.toUpperCase() }}</mat-card-title>
    <!-- <mat-card-subtitle>{{ court.category }}</mat-card-subtitle> -->
  </mat-card-header>

  <mat-card-content>
    <hr />

    <div>
      <h4>Informacion General</h4>
      <ul>
        <li>
          <mat-label>Cancha en {{ court.city }}</mat-label>
        </li>
        <li>
          <mat-label>{{ court.description }}</mat-label>
        </li>
        <li>
          <mat-label>Lat: {{ court.latitude }}</mat-label>
        </li>
        <li>
          <mat-label>Long: {{ court.longitude }}</mat-label>
        </li>
      </ul>
    </div>

    <hr />

    <div>
      <h4>MAPA</h4>
      TODO
    </div>
  </mat-card-content>
</mat-card>
