<mat-spinner *ngIf="isLoading"></mat-spinner>

<button mat-button>
  <span
    ><a routerLink="/courts"> <i class="material-icons">arrow_back</i></a></span
  >
</button>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ court.name.toUpperCase() }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <hr />

    <div>
      <h4>Informacion General</h4>
      <ul>
        <li>
          <mat-label>Cancha en {{ court.city }}</mat-label>
        </li>
        <li>
          <mat-label>{{ court.address }}</mat-label>
        </li>
      </ul>
    </div>

    <hr />

    <div>
      <h4>MAPA</h4>
      <agm-map [latitude]="lat" [longitude]="long">
        <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
      </agm-map>
    </div>
  </mat-card-content>
</mat-card>
