<div>
  <img id="elflagnosune" src="../../assets/ElFlagNosUne.jpg" />

  <mat-divider></mat-divider>

  <div id="tournaments">
    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile colspan="3">
        <h1>Torneos</h1>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        Tijuana
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        Ensenada
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        Mexicali
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div id="playersOfTheWeek" class="home-div">
    <h1>Jugadores de la semana</h1>
  </div>
  <div id="sponsors" class="home-div-small">
    <h1>Patrocinadores</h1>
    <img class="sponsorship" src="../../assets/Logo_STOLI.png" />
    <img class="sponsorship" src="../../assets/Logo_GF_Blanco.png" />
    <img class="sponsorship" src="../../assets/Logo_LEGENDS.png" />
  </div>
</div>
